// 暂定topbar 为44px
$baseTopHeight: 44px;
// 统一padding
$basePadding: 17.5px;
// 版心
$baseCenterWidth: 340px;
// 字体颜色 
$baseFontColor: #DFDFDF;
// 字体颜色2
$baseFontColor2: #FBC34A;
// 背景色
$baseBgColor: #22262D;
// 次级背景色
$baseBgLightColor: #22262D;
// 渐变色 
@mixin changeColor(){
  background:linear-gradient(150deg,rgba(242,91,134,1) 0%,rgba(241,172,94,1) 100%);
}